liasse-directeur/mappage (1).xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EDI">
		<xs:annotation>
			<xs:documentation>XSD DGI pour export XML des états financiers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="informations" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="ncc" type="xs:string"/>
							<xs:element name="exercice" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="champsTableauxFixes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="champTableauFixe" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="code" type="xs:string"/>
										<xs:element name="valeur" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="champsTableauxVariables">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="champTableauVariable" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="colonne" type="xs:string"/>
										<xs:element name="ligne" type="xs:string"/>
										<xs:element name="valeur" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>